# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# HEW

# CMake and VS directorDies
CMakeBuilds/
.vs/
.vscode/
__vm/

# others
src/src_user/IfWrapper/SILS/FLASH_DB/*.dat

# Visual Micro for PIC32
Debug/
Release/

# for c2a user sample
Examples/src/src_aobc